# Editable install with no version control (apache-airflow==2.0.0)
APScheduler
Authlib
Babel
Flask-AppBuilder
Flask-Babel
Flask-Bcrypt
Flask-Caching
Flask-JWT-Extended
Flask-Login
Flask-OAuthlib
Flask-OpenID
Flask-SQLAlchemy
Flask-WTF
Flask
GitPython
HeapDict
JPype1
JayDeBeApi
Jinja2
Mako
Markdown
MarkupSafe
PyHive
PyJWT
PyNaCl
PySmbClient
PyYAML
Pygments
SQLAlchemy-JSONField
SQLAlchemy-Utils
SQLAlchemy
Sphinx
Unidecode
WTForms
Werkzeug
adal
aiohttp
alabaster
alembic
amqp
analytics-python
ansiwrap
apipkg
apispec
appdirs
argcomplete
arrow
asn1crypto
astroid

async-generator
async-timeout
atlasclient
attrs
aws-sam-translator
aws-xray-sdk
azure-batch
azure-common
azure-core
azure-cosmos

#azure-datalake-store
#azure-identity
azure-keyvault-certificates

# azure-keyvault-keys
# azure-keyvault-secrets
# azure-keyvault
# azure-kusto-data
# azure-mgmt-containerinstance
# azure-mgmt-core
# azure-mgmt-datalake-nspkg
# azure-mgmt-datalake-store
# azure-mgmt-nspkg
# azure-mgmt-resource
# azure-nspkg
# azure-storage-blob
# azure-storage-common
# azure-storage
backcall
bcrypt
beautifulsoup4
billiard
black
blinker
boto3
boto
botocore
bowler
cached-property
cachetools
cassandra-driver
cattrs
celery
certifi
cffi
cfgv
cfn-lint
cgroupspy
chardet
click
clickclick
cloudant
cloudpickle
colorama
colorlog
commonmark
connexion
coverage
croniter
cryptography
curlify
cx-Oracle
dask
datadog
decorator
defusedxml
dill
distlib
distributed
dnspython
docker-pycreds
docker
docopt
docutils
ecdsa
elasticsearch-dbapi
elasticsearch-dsl
elasticsearch
email-validator
entrypoints
eventlet
execnet
facebook-business
fastavro
filelock
fissix
flake8-colors
flake8
flaky
flask-swagger
flower
freezegun
fsspec
funcsigs
future-fstrings
future
gcsfs
gevent
gitdb
github3.py

# google-ads
# google-api-core
# google-api-python-client
# google-auth-httplib2
# google-auth-oauthlib
# google-auth
# google-cloud-automl
# google-cloud-bigquery-datatransfer
# google-cloud-bigquery-storage
# google-cloud-bigquery
# google-cloud-bigtable
# google-cloud-container
# google-cloud-core
# google-cloud-datacatalog
# google-cloud-dataproc
# google-cloud-dlp
# google-cloud-kms
# google-cloud-language
# google-cloud-logging
# google-cloud-memcache
# google-cloud-monitoring
# google-cloud-os-login
# google-cloud-pubsub
# google-cloud-redis
# google-cloud-secret-manager
# google-cloud-spanner
# google-cloud-speech
# google-cloud-storage
# google-cloud-tasks
# google-cloud-texttospeech
# google-cloud-translate
# google-cloud-videointelligence
# google-cloud-vision
# google-crc32c
# google-resumable-media
# googleapis-common-protos
graphviz
greenlet
grpc-google-iam-v1
grpcio-gcp
grpcio
gunicorn
hdfs
hmsclient
httplib2
humanize
hvac
identify

idna
imagesize
importlib-metadata
importlib-resources
inflection
iniconfig
ipdb
ipython-genutils
ipython
iso8601
isodate
isort
itsdangerous
jedi
jira
jmespath
json-merge-patch

jsondiff
jsonpatch
jsonpickle
jsonpointer
jsonschema
junit-xml
jupyter-client
jupyter-core
jwcrypto
kombu
kubernetes
kylinpy
lazy-object-proxy
ldap3
libcst
lockfile

# marshmallow-enum
marshmallow-oneofschema
# marshmallow-sqlalchemy
marshmallow
mccabe
mock
mongomock
more-itertools
moreorless
moto

# msal-extensions
# msal

msgpack
msrest
msrestazure
multi-key-dict
multidict
mypy-extensions
mypy
mysql-connector-python
mysqlclient
natsort
nbclient
nbformat
nest-asyncio
networkx
nodeenv
nteract-scrapbook
ntlm-auth
numpy
oauthlib
openapi-spec-validator
oscrypto
packaging
pandas-gbq
pandas
papermill
parameterized
paramiko
parso
pathspec
pbr
pdpyras
pendulum
pexpect
pickleshare
pinotdb
pipdeptree
pluggy
portalocker
pre-commit
presto-python-client
prison
prometheus-client
prompt-toolkit
proto-plus
protobuf
psutil
psycopg2-binary
ptyprocess
py4j
py
pyOpenSSL
pyarrow
pyasn1-modules
pyasn1
pycodestyle
pycountry
pycparser
pycryptodomex
pydata-google-auth
pydruid
pyenchant
pyexasol
pyflakes
pykerberos
pylint
pymongo
pymssql
pyodbc
pyparsing
pyrsistent
pysftp
pyspark
pytest-cov
pytest-forked
pytest-instafail
pytest-rerunfailures
pytest-timeouts
pytest-xdist
pytest
python-daemon
python-dateutil
python-editor
python-http-client
python-jenkins
python-jose
python-nvd3
python-slugify
python-telegram-bot
python3-openid
pytz
pytzdata
pywinrm
pyzmq
qds-sdk
redis
regex
requests-kerberos
requests-mock
requests-ntlm
requests-oauthlib
requests-toolbelt
requests
responses
rich
rsa
s3transfer
#sasl
semver
sendgrid
sentinels
sentry-sdk
setproctitle
simple-salesforce
six
slackclient
smmap
snowballstemmer
snowflake-connector-python
snowflake-sqlalchemy
sortedcontainers
soupsieve
# sphinx-airflow-theme
# sphinx-argparse
# sphinx-autoapi
# sphinx-copybutton
# sphinx-jinja
# sphinx-rtd-theme
# sphinxcontrib-applehelp
# sphinxcontrib-devhelp
# sphinxcontrib-dotnetdomain
# sphinxcontrib-golangdomain
# sphinxcontrib-htmlhelp
# sphinxcontrib-httpdomain
# sphinxcontrib-jsmath
# sphinxcontrib-qthelp
# sphinxcontrib-redoc
# sphinxcontrib-serializinghtml
# sphinxcontrib-spelling
spython
sshpubkeys
sshtunnel
starkbank-ecdsa
statsd
swagger-ui-bundle
tableauserverclient
tabulate
tblib
tenacity
termcolor
testfixtures
text-unidecode
textwrap3
#thrift-sasl
thrift
toml
toolz
tornado
tqdm
traitlets
typed-ast
typing-extensions
typing-inspect
tzlocal
unicodecsv
uritemplate
urllib3
vertica-python
vine
virtualenv
volatile
watchtower
wcwidth
websocket-client
wrapt
xmltodict
yamllint
yandexcloud
yarl
zdesk
zict
zipp
zope.event
zope.interface
